<div class="card">

    <div class="card-body">
        <form [formGroup]="studentForm">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="name" name="name" formControlName="name" [ngClass]="{'is-invalid': studentForm.controls['name'].touched && studentForm.controls['name'].errors,
                    'is-valid': studentForm.controls['name'].touched && studentForm.controls['name'].valid
                }">
                <label for="name" class="form-label">name</label>
                <ng-container *ngIf="studentForm.controls['name'].errors">
                    <div *ngIf="studentForm.touched && studentForm.controls['name'].errors['required']"
                        class="invalid-feedback">name is required</div>
                    <div *ngIf="studentForm.touched && (studentForm.controls['name'].errors['minlength'] || studentForm.controls['name'].errors['maxlength'])"
                        class="invalid-feedback">name must be 4-12 characters</div>
                </ng-container>
            </div>


            <div class="form-floating mb-3">
                <select class="form-select" id="course" aria-label="course" formControlName="course" [ngClass]="{'is-invalid': studentForm.controls['course'].touched && studentForm.controls['course'].errors,
                'is-valid': studentForm.controls['course'].touched && studentForm.controls['course'].valid
                }">
                    <option *ngFor="let course of coursesList" [value]="course.id">{{course.name}}</option>
                </select>
                <div class="invalid-feedback">course is required</div>
                <label for="course">Choose Course</label>
            </div>


            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="avrage" name="avrage" formControlName="avrage" [ngClass]="{'is-invalid': studentForm.controls['avrage'].touched && studentForm.controls['avrage'].errors,
                    'is-valid': studentForm.controls['avrage'].touched && studentForm.controls['avrage'].valid
                }">
                <label for="avrage" class="form-label">avrage</label>
                <ng-container *ngIf="studentForm.controls['avrage'].errors">
                    <div *ngIf="studentForm.touched && (studentForm.controls['avrage'].errors['min'] || studentForm.controls['avrage'].errors['max'])"
                        class="invalid-feedback">avrage must be 0-100</div>
                </ng-container>
            </div>


            <div class="form-text">year of course</div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" [value]="year.First" name="year" formControlName="year">
                <label class="form-check-label form-text" for="1">
                    First
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" [value]="year.Second" name="year" formControlName="year">
                <label class="form-check-label form-text" for="2">
                    Second
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" [value]="year.Third" name="year" formControlName="year">
                <label class="form-check-label form-text" for="3">
                    Third
                </label>
            </div>




            <div class="form-text" [ngSwitch]="studentForm.controls['year'].value">
                <div *ngSwitchCase="year.First">230 days of course</div>
                <div *ngSwitchCase="year.Second">240 days of course</div>
                <div *ngSwitchCase="year.Third">150 days of course</div>
            </div>

            <b>the total abcence days: 0533111698 malki gefner {{totalAbsenceDays}}</b>

            <div class="input-group">
                <span class="input-group-text">absence from date:</span>
                <input type="date" aria-label="First name" class="form-control" #fromDateInput>
                <span class="input-group-text">number day of absence:</span>
                <input type="number" aria-label="Last name" class="form-control" #daysInput>
            </div>

            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="isActive" formControlName="isActive" [ngClass]="{'is-invalid': studentForm.controls['isActive'].touched && studentForm.controls['isActive'].value == false,
                'is-valid': studentForm.controls['isActive'].touched && studentForm.controls['isActive'].valid
                }">
                <label class="form-check-label form-text" for="isActive">active student?</label>
                <div class="invalid-feedback">student must be active</div>
            </div>


            <div class="row">
                <div class="col-md-2">
                    <button class="btn btn-outline-primary" type="submit" [disabled]="!studentForm.valid"
                        (click)="submit(fromDateInput.valueAsDate ,daysInput.valueAsNumber)" #submitButton>Submit
                        <i class="bi bi-check-lg"></i></button>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-outline-danger" (click)="close()">close <i class="bi bi-x-lg"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>